@media screen and (min-width: 768px){
  .navbar-nav{
    margin: 10px 0 0 0;
    float: right;
  }
  .item h4 {
      font-size: 2.15rem;
  }
  .col-sm-10 input[type=file]{
    font-size: 1.4rem;
    padding: 8px 0;
  }
  .flex{
    flex-direction: row;
  }
}
